{% extends "_layouts/student_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} Student Login {% endblock %}

{% block content %}

    <form action="{% url 'students:authentication' %}" method="post"> {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Login">
    </form>

{% endblock %}