{% extends "base/base_generic.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	# It manages all the links in the navigation section, and loads all CSS and JavaScript needed.
	#
{% endcomment %}

{% load staticfiles %}

{% block css_files %}

	<link rel="stylesheet" type="text/css" href="{% static 'root/css/style.css'  %}">

{% endblock %}

{% block js_files %} 
	<script type="text/javascript" src="{% static 'root/js/main.js'  %}"></script>
	<script type="text/javascript" src="{% static 'root/js/plugin.js'  %}"></script>
{% endblock %}

{% block home_logo %} {% url 'home' %}{% endblock %}

 {% block nav_left %}
  	<li class="{% block left_third %} {% endblock %}"><a href="{% url 'getting_started' %}">Get started</a></li>
 {% endblock %}

 {% block nav_right %}
 	<li class="dropdown {% block right_first %} {% endblock %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"> </b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'student_info' %}">Leapkit for Students</a></li>
            <li><a href="{% url 'company_info' %}">Leapkit for Companies</a></li>
            <li><a href="{% url 'university_info' %}">Leapkit for Universities</a></li>
          </ul>
    </li>
    <li class="dropdown {% block right_second %} {% endblock %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"> </b></a>
          <ul class="dropdown-menu">
            	<li><a href="{% url 'about_leapkit' %}">About</a></li>
				<li><a href="{% url 'FAQ' %}">FAQ</a></li>
 				<li><a href="{% url 'contact_leapkit' %}">Contact</a></li>
          </ul>
    </li>
    <li><button type="submit" class="btn btn-sm btn-primary navbar-btn">Sign in</button></li>
 {% endblock %}