{% extends "base/base_generic.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	# It manages all the links in the navigation section, and loads all CSS and JavaScript needed.
	#
{% endcomment %}

{% load staticfiles %}

{% block css_files %}

	<link rel="stylesheet" type="text/css" href="{% static 'root/css/style.css'  %}">
  <link rel="stylesheet" type="text/css" href="{% static 'root/css/root.css'  %}">

{% endblock %}

{% block js_files %} 
	<script type="text/javascript" src="{% static 'root/js/main.js'  %}"></script>
	<script type="text/javascript" src="{% static 'root/js/plugin.js'  %}"></script>
{% endblock %}

{% block home_logo %} {% url 'home' %}{% endblock %}

 {% block nav_left %}
  	<li class="{% block getting_started %} {% endblock %}"><a href="{% url 'getting_started' %}">Get started</a></li>
 {% endblock %}

 {% block nav_right %}
    <li class="dropdown {% block more_dropdown %} {% endblock %}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"> </b></a>
      <ul class="dropdown-menu">
      	<li><a href="{% url 'about_leapkit' %}">About</a></li>
	      <li><a href="{% url 'FAQ' %}">FAQ</a></li>
		    <li><a href="{% url 'contact_leapkit' %}">Contact</a></li>
      </ul>
    </li>
    <li class="divider-vertical"></li>
    <li class="dropdown {% block sign_in %}{% endblock %}"><a href="{% url 'sign_in' %}">Sign in</a></li>
 {% endblock %}