{% extends "_layouts/root_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} Contact {% endblock %}

{% block more_dropdown %}active{% endblock %}

{% block content %}
	{% load staticfiles %}
	<div class="row">
		<div class=" col-md-10 col-md-offset-1">
			<div class="row">
				<h3 class="text-center"> Contact Leapkit</h3>
			</div>
			<div class="row">
				<div class="form col-md-8 col-md-offset-2">
				  	{% load crispy_forms_tags %}
					{% crispy form  %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}