{% extends "_layouts/root_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} FAQ {% endblock %}

{% block right_second %}active{% endblock %}

{% block content %}
	<h1 class="text-center"> Frequently asked questions</h1>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
			  	<li class="active"><a href="#students" data-toggle="tab">Students</a></li>
			  	<li><a href="#companies" data-toggle="tab">Companies</a></li>
			  	<li><a href="#universities" data-toggle="tab">Universities</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  	<div class="tab-pane active" id="students">
			  		{% for question in question_list %}
			  			{% if question.subject == 'S' %}
			  				<h2>{{ question.question}}</h2>
			  				<p>{{question.answer}}</p>
			  			{% endif %}
			  		{% empty %}
			  			<h2>There was no questions for this section</h2>
			  		{% endfor %}
			  	</div>
			  	<div class="tab-pane" id="companies">
			  		{% for question in question_list %}
			  			{% if question.subject == 'C' %}
			  				<h2>{{ question.question}}</h2>
			  				<p>{{question.answer}}</p>
			  			{% endif %}
			  		{% empty %}
			  			<h2>There was no questions for this section</h2>
			  		{% endfor %}
			  	</div>
			  	<div class="tab-pane" id="universities">
			  		{% for question in question_list %}
			  			{% if question.subject == 'U' %}
			  				<h2>{{ question.question}}</h2>
			  				<p>{{question.answer}}</p>
			  			{% endif %}
			  		{% empty %}
			  			<h2>There was no questions for this section</h2>
			  		{% endfor %}
			  	</div>
			</div>
		</div>
	</div>

{% endblock %}