{% extends "_layouts/root_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} Get Started {% endblock %}

{% block getting_started %}active{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-4">
		<a href="{% url 'student_info' %}">
				<div class="student_info_button">
				<h2> Student </h2>
				<p> This is what leapkit can do for you </p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{% url 'company_info' %}">
			<div class="company_info_button">
				<h2> Company </h2>
				<p> This is what leapket can do for you </p>
			</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="{% url 'university_info' %}">
			<div class="university_info_button">
				<h2> University </h2>
				<p> This is what leapket can do for you </p>
			</div>
		</a>
	</div>	
</div>

      

{% endblock %}