{% extends "_layouts/root_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} Home {% endblock %}

{% block content %}

  <div class="graphs-section-wrapper row">
    <div class="col-md-12">    		
      <section class="graphs-section">
        	<h2 class="h-section-heading">Students opinions by the numbers</h2>
      		<ul class="percentage-graph-list">
                	<li class="percentage-graph-list-item">
            			<div class="animated-percentage-graph-container">
              			<div class="animated-percentage-graph" data-percentage="24%" data-apg-options='{"arcColor":"#e39125"}'></div>
            			</div>
            			<div class="percentage-graph-description">Of Students find cooperation with companies important </div>
          		</li>
                	<li class="percentage-graph-list-item">
            			<div class="animated-percentage-graph-container">
              			<div class="animated-percentage-graph" data-percentage="56%" data-apg-options='{"arcColor":"#d04e28"}'></div>
            			</div>
            			<div class="percentage-graph-description">Wants to collaborate with companies and other lines of studies</div>
          		</li>
                	<li class="percentage-graph-list-item">
            			<div class="animated-percentage-graph-container">
              			<div class="animated-percentage-graph" data-percentage="14%" data-apg-options='{"arcColor":"#363743"}'></div>
            			</div>
            			<div class="percentage-graph-description">Of students find cross field collaboration important</div>
          		</li>
                	<li class="percentage-graph-list-item">
            			<div class="animated-percentage-graph-container">
              			<div class="animated-percentage-graph" data-percentage="62500" data-apg-options='{"arcColor":"#e39125"}'></div>
            			</div>
            			<div class="percentage-graph-description">Students in Denmark alone</div>
          		</li>
            	</ul>
    		</section>
      </div>

	</div>

{% endblock %}
