{% extends "_layouts/root_layout.html" %}
{% comment %}
	# This root template is meant for creating the basic layout for all views that can be viewed without logging in.
	#
	#
	#
	#
	#
{% endcomment %}

{% block title %} Student sign Up {% endblock %}

{% block content %}
	<div class="row">
        {% load crispy_forms_tags %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                  <h2 class="text-center"> Sign up as Student </h2>
                  {% crispy form %}
            </div>
        </div>
	</div>

{% endblock %}
