<head>
	{% load staticfiles %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'root/css/bootstrap/bootstrap.min.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'root/css/global.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'root/css/quill/quill.snow.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'root/css/quill/advanced.css'  %}">
	{% block css_files %} {% endblock %}

	<title>{% block title %} {% endblock %} | LeapKit</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 data-instant">
				<nav id="nav"class="navbar navbar-default" role="navigation">
			  		<div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
					      	</button>
					      	<a class="navbar-brand" href="{% block home_logo %} {% endblock %}">Leapkit</a>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      	<ul class="nav navbar-nav">
						        {% block nav_left %} {% endblock %}
					      	</ul>

					      	<ul class="nav navbar-nav navbar-right">
					        	{% block nav_right %} {% endblock %}
					      	</ul>
					    </div><!-- /.navbar-collapse -->
				  	</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
		
		{% block content %}
		{% endblock %}

		<footer class="row text-center">
			<h4>Copyright - 2014</h4>
			<h5>LeapKit</h5>
		</footer>

	</div>
	<script type="text/javascript" src="{% static 'root/js/jquery-1.11.1.min.js'  %}"></script>
	<script type="text/javascript" src="{% static 'root/js/bootstrap/bootstrap.min.js'  %}"></script>
	<script type="text/javascript" src="{% static 'root/js/instantclick.min.js'  %}"></script>
	<script type="text/javascript" src="{% static 'root/js/validator.js'  %}"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
	<script type="text/javascript" src="{% static 'root/js/quill/quill.min.js'  %}"></script>
	<script type="text/javascript" src="{% static 'root/js/quill/advanced.js'  %}"></script>

	<script data-no-instant>InstantClick.init();</script>
	{% block js_files %} {% endblock %}
	
</body>